%h2
  Sign In With Existing User
%h2
  or create
  = link_to 'new user', new_user_path
= form_tag sessions_path, method: :post, class: 'sign_in' do
  .form-group
    = label_tag :email
    %br
    = email_field_tag :email, nil, class: "form-control", requere: true
  .form-group
    = label_tag :password
    %br
    = password_field_tag :password, nil, class: "form-control", requere: true
  = submit_tag "Sign In", class: "btn btn-default"