%h1 Registrations of New User
%h2 Please Fill In Registration Form
= form_for(@user) do |f|
  .form-group
    = f.label :name
    %br
    = f.text_field :name, class: "form-control", requere: true
  .form-group
    = f.label :email
    %br
    = f.email_field :email, class: "form-control", requere: true
  .form-group
    = f.label :password
    %br
    = f.password_field :password, class: "form-control", requere: true
  = f.button submit: "Create User", class: "btn btn-default"