= link_to 'Change Color', 'javascript:void(0)', onclick: 'ChangeColor();'
.block
  %div{id: "#{@post.xpath(".//div[@id='content']//div[@class='content']/article").first.attributes['id'].value}"}
    .category
      Category: #{@post.xpath(".//div[@id='content']//h2[@class='category']/a").text}
    .title
      Title: #{@post.xpath(".//div[@id='content']//h1[@class='title']").text}
    .content
      Content: #{@post.xpath(".//div[@id='content']//h1[@class='title']").text}
    = image_tag @post.xpath(".//div[@id='content']//figure[@class='field-main-image']/img").first.attributes["src"].value.gsub('/sites/', 'http://'), class: 'center-block'
    %p
      #{@post.xpath(".//div[@id='content']//div[@class='content']//div[@class='content']//p").text}